@model ECS.Models.ViewModel.CustomCred
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<form method="post" action="/Authorization/Login">
    <input type="text" class="form-control" name="UserId" value="" placeholder="User Name.." />
    @Html.ValidationMessage("UserName", htmlAttributes: new { @class = "text-danger" })
    <input type="password" class="form-control" name="Password" value="@Model.Password" placeholder="password.." />
    @Html.ValidationMessage("Password", htmlAttributes: new { @class = "text-danger" })
    <input type="submit" class="form-control" value="submit" />
</form>
